$yellow: #fec432;
$violet: #bfacf2;
$orange: #ff7c14;
$red: #e75a31;
$beige: #fcd3ac;
$blue: #032f48;
$transition: all 0.3s ease;

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  background-color: #fff;
}

.container {
  max-width: 1160px;
  margin: auto;

  &-text {
    max-width: 86%;
    margin: auto;
  }
}

.menu {
  height: 75px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0 50px;

  &__logo {
    width: 65px;
  }

  &__items {
    text-align: center;
  }

  &__link {
    font-weight: bold;
    line-height: 17px;
    color: $blue;
    position: relative;
    &:not(:last-of-type) {
      margin-right: 6.5%;
    }

    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 1px;
      bottom: -3px;
      left: 0;
      background-color: $blue;
      transition: $transition;
    }

    &:hover {
      &::before {
        width: 19px;
      }
    }

    &.active {
      &::before {
        width: 19px;
      }
    }
  }

  &-right {
    display: flex;
    align-items: center;
    font-weight: bold;

    a {
      margin-right: 20px;
      color: $blue;
    }
  }
}

.banner {
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  &--left {
    padding: 50px 0 50px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &--right {
    background-color: $blue;
    padding-left: 12%;
    padding-top: 90px;
    position: relative;
  }

  &-wrap {
    background-color: #fafafa;
  }

  &__title {
    font-size: 110px;
    line-height: 132px;
    font-weight: bold;
    position: relative;
    color: $blue;

    &::before {
      content: "";
      position: absolute;
      width: 82px;
      height: 7px;
      bottom: -3px;
      left: 10px;
      background-color: $blue;
      transition: $transition;
    }

    &--right {
      color: #fff;
      font-size: 28px;
      line-height: 34px;
      font-weight: bold;
      padding-left: 10px;
    }
  }

  &__img-wrap {
    display: flex;
    align-items: center;
    padding-top: 55px;
    width: 70px;
    justify-content: space-between;
  }

  &__desc {
    font-size: 12px;
    max-width: 195px;
    line-height: 192.3%;

    &--right {
      font-size: 12px;
      line-height: 157.3%;
      color: $beige;
      max-width: 190px;
      margin-top: 25px;
    }
  }

  &__emptiness {
    &-wrap {
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    &--red,
    &--blue,
    &--orange {
      position: absolute;
      width: 500px;
      height: 500px;
    }

    &--orange {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 165px 0 0 165px;
      border-color: transparent transparent transparent #f9ba51;
      bottom: 0;
      left: 0;
    }

    &--blue {
      width: 207px;
      height: 207px;
      background: #78c9c0;
      right: 0;
      bottom: 0;
      z-index: 3;
    }

    &--red {
      width: 499.6px;
      height: 669.88px;
      background: #e75a31;
      top: 30%;
      right: -205px;
      z-index: 2;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  &__bottom {
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #c2c2c2;
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
  }

  &__button {
    height: 48px;
    position: absolute;
    bottom: 47px;
    left: -51px;
    z-index: 11;
    display: flex;

    &-img {
      width: 51px;
      background-color: $blue;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-text {
      width: 133px;
      background-color: #fff;
      color: $blue;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 17px;
      line-height: 20px;
      font-weight: bold;
    }
  }
}

// ABOUT

.about {
  $p: &;
  margin-top: 180px;
  position: relative;

  &__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__box {
    position: relative;
    padding-bottom: 100%;

    &-wrap {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &:nth-child(2) {
      background-color: #f9ba51;
    }

    &:nth-child(3) {
      background-color: #78c9c0;
    }

    &:nth-child(4) {
      background-color: #e75a31;
    }

    &-title {
      font-weight: 900;
      font-size: 28px;
      line-height: 34px;
      color: #fff;
    }

    &-number {
      font-size: 130px;
      position: absolute;
      font-weight: 800;
      right: -15px;
      bottom: -40px;
      color: #fff;
      opacity: 0.5;
    }

    &-line {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 50%;
      height: 7px;
      background-color: #032f48;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    padding: 35px 20px;
  }

  &--right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
  }

  &.style-1 {
    #{$p}__title {
      color: #032f48;
    }
    #{$p}__desc {
      color: #032f48;
    }
    #{$p}__btn {
      background-color: #032f48;
      border: 1px solid #032f48;
      &:hover {
        background-color: #fff;
        color: #032f48;
      }
    }
  }

  &__title {
    font-weight: 900;
    font-size: 110px;
    line-height: 132px;
    color: #151f32;
    position: relative;
    margin-bottom: 3px;
  }

  &__subtitle {
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    left: 30px;
    color: #dddfe0;
  }

  &__desc {
    font-size: 12px;
    line-height: 157.3%;
    max-width: 190px;
    padding-left: 8px;
    margin-top: 20px;
  }

  &__btn {
    width: 139px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #151f32;
    background-color: #151f32;
    color: #fff;
    margin-left: 8px;
    margin-top: 38px;
    font-weight: 900;
    font-size: 17px;
    line-height: 20px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #fff;
      color: #151f32;
    }
  }

  &__line {
    &-left {
      width: 60px;
      height: 7px;
      background-color: #151f32;
      position: absolute;
      right: 0;
      bottom: 21%;
    }
  }

  &.style-2 {
    img {
      width: calc(100% + 40px);
      transform: translateX(-40px);
    }

    #{$p}--left {
      position: relative;
    }

    #{$p}__statistic {
      background-color: #fff;
      height: 74%;
      width: 81%;
      position: absolute;
      top: 50%;
      left: -40px;
      transform: translateY(-50%);
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
      padding: 35px 30px 0;

      &-img {
        position: absolute;
        bottom: 0;
        left: 35px;
        right: 50px;
        img {
          width: 100%;
          transform: none;
        }
      }

      &-title {
        font-weight: 900;
        font-size: 21px;
        line-height: 25px;
        color: #151f32;
        margin-bottom: 15px;
      }

      &-desc {
        font-size: 12px;
        line-height: 157.3%;
        max-width: 178px;
        margin-bottom: 21px;
        color: #151f32;
      }

      &-number {
        font-weight: 900;
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 7px;
        color: #151f32;
      }

      &-subtitle {
        font-weight: bold;
        font-size: 10px;
        line-height: 157.3%;
        color: #919193;
        padding-bottom: 7px;
      }

      &-line {
        &-blue,
        &-red {
          width: 18px;
          height: 2px;
        }

        &-blue {
          background-color: #151f32;
        }

        &-red {
          background-color: #e75a31;
        }
      }

      &-box {
        &-wrap {
          display: flex;
        }

        &:not(:last-of-type) {
          margin-right: 57px;
        }
      }
    }

    #{$p}__line {
      &-left,
      &-right {
        width: 112px;
        height: 7px;
        background-color: #151f32;
      }

      &-left {
        right: auto;
        left: -100px;
        z-index: -1;
        bottom: auto;
        top: 20%;
      }

      &-right {
        position: absolute;
        bottom: 19%;
        right: -25px;
        z-index: -1;
      }
    }
  }

  &.style-3 {
    margin-top: 140px;

    #{$p}__line-right {
      width: 112px;
      height: 7px;
      background-color: #151f32;
      position: absolute;
      top: 40px;
      right: 0;
    }
    #{$p}--left {
      position: relative;
      padding-bottom: 40px;

      & > img {
        width: 100%;
      }

      &-content {
        position: absolute;
        top: 130px;
        left: 30px;

        &-title {
          font-weight: 900;
          font-size: 16px;
          line-height: 19px;
          color: #fff;
          margin-bottom: 21px;
        }

        &-desc {
          font-weight: 500;
          font-size: 12px;
          line-height: 157.3%;
          color: #fcd3ac;
          max-width: 178px;
          margin-bottom: 31px;
        }

        &-play {
          margin-bottom: 61px;
          width: 43px;
          height: 43px;
          background-color: #fff;
          border-radius: 50%;
          position: relative;
          transition: $transition;
          border: 1px solid #fff;
          cursor: pointer;

          &::before {
            content: "\f04b";
            font-family: "Font Awesome 5 Free";
            font-weight: 800;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #151f32;
            transition: $transition;
            font-size: 12px;
          }

          &:hover {
            background-color: transparent;

            &::before {
              color: #fff;
            }
          }
        }

        &-arrows {
          display: flex;
          align-items: center;
          width: 70px;
          justify-content: space-between;
        }
      }

      &-box {
        position: absolute;
        right: -40px;
        bottom: 0;

        #{$p}__suptitle {
          font-size: 15px;
          line-height: 157.3%;
          color: #000000;
          font-weight: bold;
          margin-top: 20px;
        }

        #{$p}__desc {
          font-size: 12px;
          line-height: 163.3%;
          color: #151f32;
          padding-left: 0;
          margin-top: 5px;
        }
      }
    }

    #{$p}--right {
      & > img {
        object-fit: contain;
        object-position: left;
        margin-top: 50px;
      }

      #{$p}__title {
        margin-top: 110px;
      }

      #{$p}__suptitle {
        font-size: 15px;
        line-height: 157.3%;
        color: #000000;
        font-weight: bold;
        margin-top: 20px;
      }

      #{$p}__desc {
        font-size: 12px;
        line-height: 163.3%;
        color: #151f32;
        padding-left: 0;
        margin-top: 5px;
      }
    }
  }
}

.services {
  $p: &;
  margin-top: 180px;

  &__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #{$p}--right,
  #{$p}--left {
    padding-top: 25px;
  }

  #{$p}--right {
    padding-left: 80px;
  }

  #{$p}--left {
    position: relative;

    &::before {
      content: "";
      width: 112px;
      height: 7px;
      position: absolute;
      right: 0;
      top: 0;
      background-color: #151f32;
    }

    &::after {
      content: "";
      width: 50px;
      height: 7px;
      position: absolute;
      right: -50px;
      top: 37px;
      background-color: #151f32;
    }
  }

  &__subtitle {
    font-weight: bold;
    font-size: 15px;
    line-height: 157.3%;
    color: #151f32;
    margin-bottom: 5px;
  }

  &__desc {
    font-size: 12px;
    line-height: 163.3%;
    color: #151f32;
    margin-bottom: 10px;
    max-width: 190px;
  }

  &__number {
    font-weight: 800;
    font-size: 46px;
    line-height: 157.3%;
    color: #ff7c14;
  }

  &__subnumber {
    font-size: 12px;
    line-height: 1;
    color: #151f32;
  }

  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 157.3%;
    color: #151f32;
    margin-bottom: 5px;
  }

  &__btn {
    font-weight: bold;
    font-size: 11px;
    line-height: 157.3%;
    color: #151f32;
    position: relative;

    &::before {
      content: "\f054";
      font-family: "Font Awesome 5 Free";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -14px;
      font-size: 8px;
      transition: $transition;
    }

    &:hover {
      &::before {
        right: -19px;
      }
    }
  }
}

.our-programs {
  margin-top: 180px;
  $p: &;

  &__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  #{$p}--left {
    position: relative;

    &__img {
      position: absolute;
      right: 0;
      width: 90%;
      top: 130px;
    }
  }

  #{$p}--right {
    padding-left: 130px;
    display: flex;
    font-display: column;
    align-items: center;
  }

  &__img {
    position: relative;

    img {
      width: 100%;
    }
  }

  &__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: 15px;
  }

  &__desc {
    font-weight: 500;
    font-size: 12px;
    line-height: 157.3%;
    color: #fcd3ac;
    max-width: 229px;
    margin-bottom: 40px;
  }

  &__btn {
    width: 139px;
    height: 49px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 17px;
    line-height: 20px;
    color: #032f48;
    border: 1px solid #fff;
    cursor: pointer;
    transition: $transition;

    &:hover {
      background-color: transparent;
      color: #fff;
    }
  }

  &__line-right,
  &__line-left{
    width: 112px;
    height: 7px;
    background-color: #151F32;
    position: absolute;
    z-index: -1;
  }

  &__line-right{
    right: -50px;
    top: 60px;
  }

  &__line-left{
    left: -100px;
    bottom: 60px;
  }
}

.footer {
  margin-top: 180px;
 
  &__wrap{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 50px 45px;
  }

  &__column{
    display: flex;
    flex-direction: column;
  }

  &__desc {
    max-width: 198px;
    font-size: 12px;
    line-height: 163.3%;
    color: #151F32;
  }

  &__link{
    font-size: 12px;
    line-height: 163.3%;
    color: #000;
    margin-bottom: 3px;

    &-name{
      font-weight: bold;
      margin-bottom: 15px;
    }
  }

  &__logo{
    object-fit: contain;
    object-position: left;
    margin-bottom: 15px;
  }
}
